---
import "../global.css";
import Header from "./Header.astro";
import Footer from "./Footer.astro";
import BestilPopup from "./BestilPopup.astro";

const { title, description } = Astro.props;
---

<html lang="da">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
    <BestilPopup />
    <script>
      const observer = new IntersectionObserver((entries) => {
        entries.forEach((entry) => {
          if (entry.isIntersecting) {
            entry.target.classList.add("synlig");
          }
        });
      }, { threshold: 0.15 });

      document.querySelectorAll(".slide-op, .slide-ned, .slide-venstre, .slide-hoejre").forEach((el) => {
        observer.observe(el);
      });

        // Separat observer til .display bounce
  const bounceObserver = new IntersectionObserver((entries) => {
    entries.forEach((entry) => {
      if (entry.isIntersecting) {
        entry.target.classList.add("bounce-ind");
        bounceObserver.unobserve(entry.target);
      }
    });
  }, { threshold: 0.5 });

  document.querySelectorAll(".display").forEach((el) => {
    bounceObserver.observe(el);
  });
    </script>
  </body>
</html>