@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;800&family=UnifrakturMaguntia&display=swap");

:root {
  /* Primære farver */
  --solsikkegul-mork: #ffd998;
  --solsikkegul-lys: #ffe8b6;

  /* Sekundære farver */
  --limegroen-mork: #81d979;
  --limegroen-lys: #a1eaac;
  --dankort-roed: #e21e27;
  --naturgroen: #6f9c76;

  /* Gråtoner */
  --sort: #1e1e1e;
  --moerk-graa: #4a4a4a;
  --graa: #6a6a6a;
  --lys-graa: #b4b4b4;
  --lysere-graa: #d9d9d9;
  --lysest-graa: #ebebeb;
  --hvid: #ffffff;

  /* Fonte */
  --font-body: "Raleway", sans-serif;
  --font-display: "UnifrakturMaguntia", cursive;
}

span.display {
  font-family: "UnifrakturMaguntia", cursive;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-body);
  color: var(--sort);
  background-color: var(--hvid);
}

h1,
h2,
h3 {
  font-weight: 800;
}

h2 {
  font-size: 32px;
}
