@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;800&family=UnifrakturMaguntia&display=swap");

:root {
  /* Primære farver */
  --solsikkegul-mork: #ffd998;
  --solsikkegul-lys: #ffe8b6;

  /* Sekundære farver */
  --limegroen-mork: #81d979;
  --limegroen-lys: #a1eaac;
  --dankort-roed: #e21e27;
  --naturgroen: #6f9c76;

  /* Gråtoner */
  --sort: #1e1e1e;
  --hvid: #ffffff;

  /* Fonte */
  --font-body: "Raleway", sans-serif;
  --font-display: "UnifrakturMaguntia", cursive;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-body);
  color: var(--sort);
  background-color: var(--hvid);
}

/* Typografi samlet */
h1,
h2,
h3 {
  font-weight: 800;
}
h1 {
  font-size: 40px;
}
h2 {
  font-size: 32px;
}
h3 {
  font-size: 1.25rem;
}
p {
  font-size: 1rem;
  line-height: 1.6;
}
a {
  color: inherit;
  text-decoration: none;
}
.display {
  font-family: var(--font-display);
  font-weight: 400;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 1rem;
}

@media (min-width: 1024px) {
  .container {
    padding: 0 2rem;
  }

  h1 {
    font-size: 56px;
  }

  h2 {
    font-size: 40px;
  }
}
